.selects {
  display: flex;
  width: 688px;
  border-radius: 10px;
  border: 1px solid rgba(222, 226, 230, 1);
  justify-content: space-between;
  padding-right: 20px;
}
.select {
  display: flex;
  padding: 12;
  gap: 8px;
  color: black;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  align-items: center;
}
.selected {
  color: rgba(131, 56, 236, 1);
}
.selected img {
  rotate: 180deg;
  filter: invert(33%) sepia(131%) saturate(828%) hue-rotate(230deg)
    brightness(90%) contrast(95%);
}
.dropdown {
  position: absolute;
  border: 1px solid rgba(131, 56, 236, 1);
  background-color: white;
  width: 688;
  top: 190px;
  border-radius: 10px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  gap: 25px;
  display: grid;
  grid-auto-columns: auto;
  max-height: 468px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dropdown div:last-child {
  justify-self: flex-end;
  align-self: flex-end;
}
.employeeItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 100;
}
