.button {
  width: 70;
  height: 26;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 6px;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  color: rgba(131, 56, 236, 1);
  font-family: FiraGO;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.button img {
  width: 16;
  height: 16;
}
.button:hover {
  opacity: 0.5;
}
