.button {
  width: 225;
  height: 39;
  border-radius: 5px;
  border: 1px solid rgba(131, 56, 236, 1);
  background-color: white;
  font-family: FiraGO;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
